<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.mitre.svmp.client"
          android:versionCode="9"
          android:versionName="1.4.1">

    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- used for performance measurements -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- used by AppList to create and remove shortcuts -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <!-- used to allow an outside source to cause a ConnectionList to refresh its layout -->
    <permission android:name="org.mitre.svmp.PERMISSION_REFRESH"
                android:protectionLevel="signature" />
    <uses-permission android:name="org.mitre.svmp.PERMISSION_REFRESH" />

    <application android:label="@string/app_name"
                 android:allowBackup="false">

        <!-- Allows for intercepting URL intents. -->
        <activity android:name=".SendNetIntent"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:scheme="http"/>
            </intent-filter>
        </activity>

        <activity android:name="org.mitre.svmp.activities.ConnectionDetails"
                android:label="@string/connectionDetails_title"
                android:windowSoftInputMode="adjustResize"/>

        <activity android:name="org.mitre.svmp.activities.ConnectionList"
                  android:label="@string/app_name">
            <!-- actual title is set programmatically for compatibility with shortcuts -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="org.mitre.svmp.activities.SvmpPreferences"
                android:label="@string/preferenceScreen_title"/>

        <activity android:name="org.mitre.svmp.activities.AppRTCVideoActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name="org.mitre.svmp.activities.AppRTCInfoActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <!-- Background service -->
        <service android:name="org.mitre.svmp.services.SessionService"/>
        
        <!-- Memorizing Trust Manager library integration -->
        <activity android:name="de.duenndns.ssl.MemorizingActivity" />

        <!-- allows shortcuts to be launched from the desktop -->
        <activity android:name="org.mitre.svmp.activities.AppList"
                  android:label="@string/appList_title"
                  android:exported="true"/>
    </application>
</manifest>
